
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px;
  border-bottom: 1px solid var(--bg-secondary);
  background-color: var(--bg-other);
  position: sticky;
  top: 0;
  z-index: 100;
}

.siteLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-primary);
}

.siteLogo img {
  width: 32px;
  height: 32px;
}

.nav {
  display: flex;
  justify-items: center;
  gap: 18px;
}

.nav a {
  color: var(--text-secondary);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav a:hover {
  color: var(--text-primary);
}

.nav a.active-link {
  color: var(--accent-color);
  font-weight: 600;
}

.nav a.active-link:hover {
  color: var(--accent-hover);
}
.nav a.login-active-link {
  background-color: var(--text-secondary);
  color: var(--text-primary);
  font-weight: 600;
}

.nav a.login-active-link:hover {
  background-color: var(--text-primary);
  color: var(--accent-hover);
}

@media (max-width: 480px) {
  h1{
    font-size: 1.7em;
  }
  header {
  flex-direction: column;
  padding: 12px;
}

  .nav{
    gap: 0px;
  }
  .nav a{
    font-size: 1.2em;
  }
}
