:root {
  /* Morados */
  --purple-900: #2e1065;
  --purple-700: #5b21b6;
  --purple-500: #7c3aed;
  --purple-300: #c4b5fd;

  /* Grises */
  --gray-900: #111827;
  --gray-700: #374151;
  --gray-500: #6b7280;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;

  /* Base */
  --bg: #ffffff;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background-color: var(--bg);
  color: var(--gray-900);
  line-height: 1.5;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


/* NOT FOUND */
.notFoundContainer {
  min-height: 350px;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GENERAL STYLES */
.button {
  background-color: var(--purple-300);
  color: var(--gray-900);
  display: inline-block;
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--gray-500);
  color: var(--gray-900);
}
button {
  background-color: var(--purple-300);
  color: var(--gray-900);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  background-color: var(--gray-500);
  color: var(--gray-900);
}
.logout-button button{
  background-color: var(--gray-500);
  color: var(--gray-900);
}
.logout-button button:hover{
  background-color: var(--gray-900);
  color: var(--purple-500);
}

a {
  text-decoration: none;
}
.layoutnav{
  padding: 20px;
  justify-content: space-between;
}


