:root {
  /* Modo Claro (Default) */
  --bg-primary: #f3f4f6;
  --bg-secondary: #c4b5fd;
  --bg-cards: #fff;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
  --accent-color: #7c3aed;
  --accent-hover: #5b21b6;
  --accent-dark: #2e1065;
  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}
  /* Modo Oscuro */

  [data-theme="dark"] {
    --bg-primary: #58407f;
    --bg-secondary: #4b2c7e;
    --bg-cards: #525a67;
    --text-primary: #f9fafb;
    --text-secondary: #bec6d4;
    --border-color: #374151;
    --accent-color: #4d2297;
    --accent-hover: rgb(60, 68, 135);
    --accent-dark: #2e1065;
    --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  }


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* NOT FOUND */
.notFoundContainer {
  min-height: 350px;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GENERAL STYLES */
.themeToggle button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease-in-out;
}
.button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  display: inline-block;
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}
button {
  background-color: var(--accent-color);
  color: var(--bg-cards);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}
.logout-button button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.logout-button button:hover {
  background-color: var(--text-primary);
  color: var(--accent-color);
}

a {
  text-decoration: none;
}
.layoutnav {
  padding: 20px;
  justify-content: space-between;
}
