:root {
  /* Modo Claro (Default) */
  --bg-primary: #f3f4f6;
  --bg-secondary: #cecece;
  --bg-other: #bd9df5;
  --bg-cards: #ffffff;
  --text-primary: #1f2937;
  --text-primary-light: #e3e3e3;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
  --accent-color: #a67dec;
  --accent-hover: #5b21b6;
  --accent-dark: #2e1065;
  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}
  /* Modo Oscuro */

  [data-theme="dark"] {
  --bg-primary: #0f172a;       
  --bg-secondary: #1e293b;  
  --bg-other: #3f2b61;   
  --bg-cards: #4c3f64;       
  --text-primary: #f1f5f9;     
  --text-secondary: #d0d9e5;   
  --border-color: #475569;     
  --accent-color: #6d4eb5;     
  --accent-hover: #7a66b8;     
  --accent-dark: #39156f;     
  --card-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  }


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* NOT FOUND */
.notFoundContainer {
  min-height: 350px;
  padding: 45px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GENERAL STYLES */
.themeToggle button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease-in-out;
}
.button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  display: inline-block;
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}
button {
  background-color: var(--accent-color);
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  padding-block: 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
}
.logout-button button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.logout-button button:hover {
  background-color: var(--text-primary);
  color: var(--accent-color);
}

a {
  text-decoration: none;
}
.layoutnav {
  padding: 20px;
  justify-content: space-between;
}
